<h1 align="center">Menu</h1>

<div class="row">
	<div class="btn-group" role="group">
		<%= link_to "All", menu_path, method: :get, class: "btn btn-secondary #{'active' unless params[:section_id].present?}", role: "button" %>
		<% @sections.each do |section| %>
			 <%= link_to section.name, menu_path(section_id: section.id), method: :get, class: "btn btn-secondary #{'active' if params[:section_id] == section.id.to_s}", role: "button" %>
		<% end %>
	</div>
</div>

<div class="content-container">
	<% @food_items.each do |food_item| %>
		<div class="content-item">
			<%= link_to food_item do %>
				<%= image_tag(food_item.img_url, width: "100%", class: "avatar ")  %>
				<div class="item-title"><%= food_item.name %></div>
			<% end %>
			<div class="item-description"><%= truncate(food_item.description, length: 100) %></div>
			<div class="item-count"><span class="badge badge-default"><%= number_to_currency(food_item.price, format: "%n%u", unit:"VND") %></span></div>
		</div>
	<% end %>
</div>

