<p id="notice"><%= notice %></p>

<div class="post row">
	<div class="post-img">
		<%= image_tag(@food_item.img_url) %>
	</div>
	<div class="post-main">
		<div class="post-header">
			<h2><%= @food_item.name %></h2>
		</div>
		<div class="post-description">
			<strong>Description: </strong><%= @food_item.description %>
		</div>
		
		<div class="post-footer">
			<h4><span class="badge badge-default"><%= number_to_currency(@food_item.price, format: "%n%u", unit:"VND") %></span></h4>			
		</div>
	</div>
</div>

