

<div class="post rounded">
	<div class="post-img">
		<%= image_tag(@food_item.img_url, class: "rounded-left") %>
	</div>
	<div class="post-main">
		<div class="post-header">
			<h2><%= @food_item.name %></h2>
		</div>
		<div class="post-description">
			<strong>Description: </strong><%= @food_item.description %>
		</div>
		
		<div class="post-footer">
		<h3>
			<span class="badge badge-default"><%= number_to_currency(@food_item.price, format: "%n%u", unit:"VND") %></span>
			<%= button_to 'Add order',line_items_path(food_item_id: @food_item), {form_class: 'form order', class: "btn btn-outline-primary", remote: true} %>
						
		</h3>
		</div>
	</div>
</div>

