<h1 align="center">Menu</h1>

<div class="menu-navbar">
	<div class="btn-group" style="float: left" role="group">
		<%= link_to "All", menu_path, method: :get, class: "btn btn-secondary #{'active' unless params[:section_id].present?}", role: "button" %>
		<% @sections.each do |section| %>
			 <%= link_to section.name, menu_path(section_id: section.id), method: :get, class: "btn btn-secondary #{'active' if params[:section_id] == section.id.to_s}", role: "button" %>
		<% end %>
	</div>
	
	<%# Select Cuisine %>
	<%= form_tag nil, method: 'get' do%>
		<%= hidden_field_tag :section_id, params[:section_id] %>
		<div class="dropdown" style="float:right">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Sorted
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <%= link_to "Alphabetical", request.query_parameters.merge({sort_type:"name", order:"asc"}), class: "dropdown-item" %>
	    <%= link_to "Least Price", request.query_parameters.merge({sort_type:"price", order:"asc"}), class: "dropdown-item" %>
	    <%= link_to "Most Price", request.query_parameters.merge({sort_type:"price", order:"desc"}), class: "dropdown-item" %>
	    <%= link_to "Most View", request.query_parameters.merge({sort_type:"views", order:"desc"}), class: "dropdown-item" %>

	  </div>
	</div>

	<%# Select sort method %>
	<% end %>
	<%= form_tag nil, method: 'get' do%>
		<%= hidden_field_tag :section_id, params[:section_id] %>
		<div class="dropdown" style="float:right">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Cuisine
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	  	<% @cuisines.each do |cuisine| %>
	    	<%= link_to cuisine.name, request.query_parameters.merge({cuisine_id: cuisine.id}), class: "dropdown-item" %>
		   	<% end %>
	  </div>
	</div>
	<% end %>
</div>
	
	
	

<div class="content-container">
	<% @food_items.each do |food_item| %>
		<%= render(food_item) %>
	<% end %>
</div>

