
<h3>Complete Order</h3>


<%= form_for @order, :html => {class: "form-horizontal", role: "form"} do |f| %>
<%= render 'shared/errors', obj: @order %>
  <div class="row"> 
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">           
                <div class="form-group">
                  <div class="control-label">
                    <%= f.label :name %> 
                  </div>
                  <div>
                    <%= f.text_field :name, class: "form-control", autofocus: true %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="control-label">  
                    <%= f.label :email %>
                  </div>
                  <div>
                    <%= f.email_field :email, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="control-label">  
                    <%= f.label :address %>
                  </div>
                  <div>
                    <%= f.text_area :address, rows: 3, class: "form-control" %>
                  </div>
                </div>
                
              
                  
                
                    
              
        </div>
      </div>
    </div>  

    <div class="summary-section col-md-4">
      <div class="card">
        <div class="card-body">
          <p>
            <span>Subtotal:</span>
            <span class="float-right"><%= number_to_currency(@cart.sub_total, locale: :vi) %></span>
          </p>
          <p>
            <span>Delivery cost:</span>
            <span class="float-right"><%= number_to_currency(@cart.shipping_fee, locale: :vi) %></span>
          </p>
        </div>
        <div class="card-footer bg-transparent">
          <p>
            <span> Total: </span>
            <strong class="float-right"><%= number_to_currency(@cart.total_price, locale: :vi) %></strong>
        </div>
      </div>

      <div>
        <%= f.submit("Checkout", class: 'btn btn-primary btn-lg btn-block') %>
      </div>
    </div>
  </div>
<% end %>