<div class="content-item rounded">

	<%= link_to food_item do %>
		<%= image_tag(food_item.img_url, width: "100%", class: "avatar rounded-top")  %>
	<% end %>

	<%= link_to food_item do %>
		<div class="item-title"><%= food_item.name %> - <%= food_item.cuisine.name %></div>
	<% end %>
	
	<div class="item-description"><%= truncate(food_item.description, length: 100) %></div>

	<div class="item-footer">
		<div class="item-count align-middle">
			<i class="fa fa-eye"></i>
			<%= food_item.impressionist_count %>
			&nbsp;
			<i class="fa fa-comments"></i>
			<%= food_item.reviews.count %>
			&nbsp;
			<i class="fa fa-star"></i>
      <%= food_item.average_rate%>

		</div>
		
		<%= button_to number_to_currency(food_item.price, locale: :vi), line_items_path(food_item_id: food_item), {form_class: 'form item-order', class: "btn btn-outline-primary btn-sm", remote: true} %>
	</div>

</div>
