<%= form_for [@food_item, review], :html => {class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <div class="control-label">  
      <%= f.label :username %>
    </div>
    <div>
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label">  
      <%= f.label :content %>
    </div>
    <div>
      <%= f.text_area :content, rows: 3, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <div>
      <%= f.submit("Review", class: 'btn btn-primary') %>
    </div>
  <div>
<% end %>
