
  
  <li class="list-group-item">  
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag(line_item.food_item.img_url, class:"img-fluid") %>
      </div>
      <div class="col-sm-4">
        <%= line_item.food_item.name %>
      </div>
     
      <div class="col-sm-3">
        
          <%= number_to_currency(line_item.food_item.price, locale: :vi) %>
        
      </div>


      <div class="col-sm-2">
      <%= form_for(line_item, method: :patch) do |f| %>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary btn-block" type="button">-</button>
          </div>
          <%= f.text_field :quantity, class: "form-control", value: line_item.quantity %>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-block" type="button">+</button>
          </div>
        </div>  
      <% end %> 
      </div>
    </div>
  </li>
